
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
  }
  

  .title {
    color: #fff;
    margin-bottom: 20px;
  }
  
  /* 폼 스타일 */
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
  }
  
  /* 일반 입력 필드 스타일 */
  .input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* 에러가 있는 입력 필드 스타일 */
  .input-error {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid red;
  }
  
  /* 버튼 활성화 스타일 */
  .button {
    padding: 10px;
    background-color: #ff4b5c;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  /* 버튼 비활성화 스타일 */
  .button-disabled {
    padding: 10px;
    background-color: gray;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: not-allowed;
  }
  
  /* 에러 메시지 스타일 */
  .error {
    color: red;
    font-size: 12px;
  }
  